/*Para el estilo del fondo
*/
body {
    background-color: grey;
}

/*Para el estilo del encabezado (título)
*/
h1 {
    color: white;
    background-color: black;
    border: 1px solid white;
    text-align: center;
}

/*Para el estilo del encabezado (subtítulo)
*/
p {
    font-size: 15px;
}

/*Para el estilo de los botones
*/
button{
    background-color: white;
}

/*Para el estilo de las palabras afuera y dentro del input
*/
h3, p, input {
    font-family: "Arial", sans-serif;
    text-align: center;
    color: white;
}

input{
    font-family: "Digital", sans-serif;
    font-size: 1.5em;
    background-color: black;
    padding: 10px;
}
/*.rojo { color: red}
.verde { color: green}*/
div.centro{
    text-align: center;
}

/*Entender líneas 18-19 con 30-33 y 30-33 con 36-40 y 43-44
*/

