/*Para el estilo del fondo
*/
body {
    background: linear-gradient(rgba(5, 7, 12, 0.70), rgba(5, 7, 12, 0.70)), url(7-silencio.jpg);
}

/*Para el estilo del encabezado (título)
*/
h1 {
    color: white;
    background-color: black;
    border: 1px solid white;
    text-align: center;
}

/*Para el estilo del encabezado (subtítulo)
*/
p {
    font-size: 15px;
}

/*Para el estilo de los botones
*/
button{
    background-color: white;
}

/*Para el estilo de las palabras afuera y dentro del input
*/
h3, p, input {
    font-family: "Arial", sans-serif;
    text-align: center;
    color: white;
}

/*Para el estilo dentro del input
*/
input{
    font-family: "Digital", sans-serif;
    font-size: 1.5em;
    background-color: black;
    padding: 10px;
}
